@media screen and (min-width: 1920px) {
}
@media screen and (max-width: 1920px) {
}
@media screen and (max-width: 1439px) {
}
@media screen and (max-width: 1340px) {
}
@media screen and (max-width: 1279px) {
}
@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
}
@media screen and (max-width: 500px) {
}
