@keyframes borderRadius {
  0% {
    border-radius: 0%;
  }
  50% {
    border-radius: 50%;
  }
  100% {
    border-radius: 0%;
  }
}
@keyframes blur-in {
  0% {
    filter: blur(0.5vw);
  }
  50% {
    filter: blur(0);
  }
  0% {
    filter: blur(0.5vw);
  }
}
@keyframes BoxGo {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(30vw);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes LogoRotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
