@font-face {
  font-family: "bianzhidai_noBG";
  src: url("../fonts/bianzhidai-2.0-main/fonts/bianzhidai_noBG/OTF/bianzhidai_noBG-Pearl.otf")
    format("truetype");
  font-style: normal;
  font-weight: 700;
}
