* {
  box-sizing: border-box;
}
body {
  position: relative;
  display: block;
  height: 185vw;
  width: 100vw;
  z-index: -10;
  background-color: #000000;
}
h1 {
  color: #f4f4f4;
  font-family: "bianzhidai_noBG";
  font-size: 2.8vw;
  line-height: 3vw;
}
.boxImages {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.conteiner {
  width: 100vw;
  display: flex;
  flex-flow: column wrap;
}
.boxConteiner1 {
  display: flex;
  flex-flow: column wrap;
}
.smallBoxes {
  background-color: #000000;
}
.smallBoxes:hover {
  background-color: #0cd2c5;
  transition: 1s ease;
  animation-delay: -1s;
}
.smallBoxesInLine {
  background-color: #000000;
}
/* s1 */
.section1 {
  width: 62.8vw;
  height: 53vw;
}
.box1Section1 {
  width: 100%;
  height: 32.6vw;
}
.image1Section1 {
  width: 24.7vw;
  height: 32.59vw;
  background-image: url("../images/1.svg");
}
.image2Section1 {
  width: 38.1vw;
  height: 22.22vw;
  background-image: url("../images/2.svg");
}
.textSection1 {
  width: 38.1vw;
  height: 10.38vw;
  padding: 2.25vw 2vw;
  background-color: #000000;
}
.box2Section1 {
  width: 100%;
  height: 20.4vw;
}
.image3Section1 {
  width: 37.4vw;
  height: 22.22vw;
  background-image: url("../images/4.svg");
}
.image4Section1 {
  width: 25.4vw;
  height: 22.22vw;
  background-image: url("../images/5.svg");
}
/* s2 */
.section2 {
  width: 62.8vw;
  height: 35.3vw;
}
.box1Section2 {
  width: 100%;
  height: 35.3vw;
}
.box2Section2 {
  width: 5vw;
  height: 5vw;
  flex-direction: row;
}
.image1Section2 {
  width: 24.8vw;
  height: 24.4vw;
  background-image: url("../images/7.svg");
}
.image2Section2 {
  width: 24.8vw;
  height: 10.9vw;
  background-image: url("../images/10.svg");
}
.image3Section2 {
  width: 25.4vw;
  height: 24.4vw;
  background-image: url("../images/8.svg");
}
.textSection2 {
  width: 25.4vw;
  height: 10.9vw;
  padding: 2.25vw 2vw;
  background-color: #000000;
}
.image4Section2 {
  width: 12.6vw;
  height: 100%;
  background-image: url("../images/9.svg");
}
/* s3 */
.section3 {
  position: absolute;
  margin-top: 0;
  margin-left: 62.7vw;
  width: 36.5vw;
  height: 88.38vw;
  z-index: -9;
}
.box1Section3 {
  width: 100%;
  height: 100%;
}
.image1Section3 {
  width: 100%;
  height: 22.24vw;
  background-image: url("../images/3.svg");
}
.image2Section3 {
  width: 100%;
  height: 55vw;
  background-image: url("../images/6.svg");
}
.image3Section3 {
  width: 100%;
  height: 11.1vw;
  background-image: url("../images/11.svg");
}
/* s4 */
.section4 {
  position: absolute;
  width: 100vw;
  height: 37.7vw;
}
.box1Section4 {
  width: 100%;
  height: 33%;
  display: flex;
  flex-direction: row;
}
.image1Section4 {
  width: 12vw;
  height: 12.5vw;
  background-image: url("../images/12.svg");
}
.smallBox1 {
  width: 12.8vw;
  height: 12.5vw;
}
.image2Section4 {
  width: 12.6vw;
  height: 12.5vw;
  background-image: url("../images/13.svg");
}
.smallBox2 {
  width: 12.8vw;
  height: 12.5vw;
}
.image3Section4 {
  width: 12.6vw;
  height: 12.5vw;
  background-image: url("../images/14.svg");
}
.smallBox3 {
  width: 12.4vw;
  height: 12.5vw;
}
.image4Section4 {
  width: 12vw;
  height: 12.5vw;
  background-image: url("../images/15.svg");
}
.smallBox4 {
  width: 12vw;
  height: 12.5vw;
}
.box2Section4 {
  width: 100%;
  height: 32%;
  display: flex;
  flex-direction: row;
}
.smallBox5 {
  width: 12vw;
  height: 12.3vw;
}
.image5Section4 {
  width: 12.8vw;
  height: 12.3vw;
  background-image: url("../images/16.svg");
}
.smallBox6 {
  width: 12.6vw;
  height: 12.3vw;
}
.image6Section4 {
  width: 12.8vw;
  height: 12.3vw;
  background-image: url("../images/17.svg");
}
.smallBox7 {
  width: 12.6vw;
  height: 12.3vw;
}
.image7Section4 {
  width: 12.4vw;
  height: 12.3vw;
  background-image: url("../images/18.svg");
}
.smallBox8 {
  width: 12vw;
  height: 12.3vw;
}
.image8Section4 {
  width: 12vw;
  height: 12.3vw;
  background-image: url("../images/19.svg");
}
.box3Section4 {
  width: 100%;
  height: 32.6%;
  flex-direction: row;
}
.smallBoxLine1 {
  width: 12vw;
  height: 12.3vw;
}
.smallBoxLine2 {
  width: 12.8vw;
  height: 12.3vw;
}
.smallBoxLine3 {
  width: 12.6vw;
  height: 12.3vw;
}
.smallBoxLine4 {
  width: 12.8vw;
  height: 12.3vw;
}
.smallBoxSVGLine5 {
  width: 12.6vw;
  height: 12.3vw;
  background-image: url("../images/17.svg");
}
.smallBoxLine6 {
  width: 12.4vw;
  height: 12.3vw;
}
.smallBoxLine7 {
  width: 12vw;
  height: 12.3vw;
}
.smallBoxLine8 {
  width: 12vw;
  height: 12.3vw;
}
/* s5 */
.section5 {
  width: 100vw;
  height: 50vw;
  margin-top: 37vw;
  position: relative;
  z-index: -9;
}
.imgSection5 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.img1Section5 {
  position: absolute;
  width: 15vw;
  height: 60vw;
  z-index: 1;
  background-image: url("../images/t1.svg");
  margin-top: 7vw;
  margin-left: 1.8vw;
}
.img2Section5 {
  position: absolute;
  width: 33vw;
  height: 52vw;
  z-index: 3;
  margin-top: 4.5vw;
  margin-left: 17vw;
  background-image: url("../images/t2.svg");
}
.img3Section5 {
  position: absolute;
  width: 33vw;
  height: 52vw;
  z-index: 3;
  margin-top: 4.5vw;
  margin-left: 50vw;
  background-image: url("../images/t2.svg");
}
.img4Section5 {
  position: absolute;
  width: 15vw;
  height: 60vw;
  z-index: 4;
  margin-top: 7vw;
  margin-left: 83vw;
  background-image: url("../images/t1.svg");
}
.img5Section5 {
  position: absolute;
  width: 41vw;
  height: 45vw;
  z-index: 5;
  margin-top: 18vw;
  margin-left: 5vw;
  background-image: url("../images/t3.svg");
}
.img6Section5 {
  position: absolute;
  width: 41vw;
  height: 50vw;
  z-index: 6;
  margin-top: 12vw;
  margin-left: 29vw;
  background-image: url("../images/t4.svg");
}
.img7Section5 {
  position: absolute;
  width: 41vw;
  height: 45vw;
  z-index: 7;
  margin-top: 18vw;
  margin-left: 54vw;
  background-image: url("../images/t3.svg");
}
.oneSVG {
  position: absolute;
  width: 12vw;
  height: 12vw;
  z-index: 100;
  margin-top: 0vw;
  margin-left: 25vw;
  background-image: url("../images/20.svg");
}
/*s6*/
.section6 {
  width: 100vw;
  height: 17vw;
  margin-top: 0vw;
  position: relative;
  z-index: 100;
}
.footer {
  border-top: #393939 0.02vw solid;
  width: 100%;
  height: 100%;
  padding-left: 2.8vw;
  padding-top: 3.5vw;
  background-color: #000000;
  display: flex;
}
#h1Footer1 {
  width: 22vw;
  font-size: 1.8vw;
  line-height: 2.5vw;
  display: block;
}
#h1Footer2 {
  width: 30vw;
  font-size: 1.8vw;
  display: block;
  line-height: 2.5vw;
  flex-direction: row;
}
.logo {
  width: 13vw;
  height: 5vw;
  margin-left: 29vw;
  background-image: url("../images/hse-logo.svg");
}
