* {
  box-sizing: border-box;
}
body {
  position: relative;
  display: block;
  height: 185vw;
  width: 100vw;
  background-image: url(../images/otkritka.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -10;
  background-color: #161616;
  background-blend-mode: soft-light;
}
h1 {
  color: #f4f4f4;
  font-family: "bianzhidai_noBG";
  font-size: 2.8vw;
  line-height: 3vw;
}
.boxImages {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #e6e6e6;
}
.conteiner {
  width: 100vw;
  display: flex;
  flex-flow: column wrap;
  color: brown;
}
.boxConteiner1 {
  background-color: #00a6ff;
  display: flex;
  flex-flow: column wrap;
}
.smallBoxes {
  background-color: #161616;
}
.smallBoxesInLine {
  background-color: #161616;
}
/* s1 */
.section1 {
  width: 62.8vw;
  height: 53vw;
  opacity: 60%;
}
.box1Section1 {
  width: 100%;
  height: 32.6vw;
}
.image1Section1 {
  width: 24.7vw;
  height: 32.59vw;
  background-image: url("../images/1.svg");
}
.image2Section1 {
  width: 38.1vw;
  height: 22.22vw;
  background-image: url("../images/2.svg");
}
.textSection1 {
  width: 38.1vw;
  height: 10.38vw;
  padding: 2.25vw 2vw;
  background-color: #000000;
}
.box2Section1 {
  width: 100%;
  height: 20.4vw;
}
.image3Section1 {
  width: 37.4vw;
  height: 22.22vw;
  background-image: url("../images/4.svg");
}
.image4Section1 {
  width: 25.4vw;
  height: 22.22vw;
  background-image: url("../images/5.svg");
}
/* s2 */
.section2 {
  width: 62.8vw;
  height: 35.3vw;
  background-color: #0000ff;
  opacity: 60%;
}
.box1Section2 {
  width: 100%;
  height: 35.3vw;
}
.box2Section2 {
  width: 5vw;
  height: 5vw;
  flex-direction: row;
}
.image1Section2 {
  width: 24.8vw;
  height: 24.4vw;
  background-image: url("../images/7.svg");
}
.image2Section2 {
  width: 24.8vw;
  height: 10.9vw;
  background-image: url("../images/10.svg");
}
.image3Section2 {
  width: 25.4vw;
  height: 24.4vw;
  background-image: url("../images/8.svg");
}
.textSection2 {
  width: 25.4vw;
  height: 10.9vw;
  padding: 2.25vw 2vw;
  background-color: #000000;
}
.image4Section2 {
  width: 12.6vw;
  height: 100%;
  background-image: url("../images/9.svg");
}
/* s3 */
.section3 {
  position: absolute;
  margin-top: 0;
  margin-left: 62.7vw;
  width: 36.5vw;
  height: 88.38vw;
  background-color: #0000ff;
  opacity: 60%;
  z-index: -9;
}
.box1Section3 {
  width: 100%;
  height: 100%;
}
.image1Section3 {
  width: 100%;
  height: 22.24vw;
  background-image: url("../images/3.svg");
}
.image2Section3 {
  width: 100%;
  height: 55vw;
  background-image: url("../images/6.svg");
}
.image3Section3 {
  width: 100%;
  height: 11.1vw;
  background-image: url("../images/11.svg");
}
/* s4 */
.section4 {
  position: absolute;
  width: 100vw;
  height: 37.7vw;
  background-color: #0000ff;
  opacity: 60%;
}
.box1Section4 {
  width: 100%;
  height: 33%;
  display: flex;
  flex-direction: row;
}
.image1Section4 {
  width: 12vw;
  height: 12.5vw;
  background-image: url("../images/12.svg");
}
.smallBox1 {
  width: 12.8vw;
  height: 12.5vw;
}
.image2Section4 {
  width: 12.6vw;
  height: 12.5vw;
  background-image: url("../images/13.svg");
}
.smallBox2 {
  width: 12.8vw;
  height: 12.5vw;
}
.image3Section4 {
  width: 12.6vw;
  height: 12.5vw;
  background-image: url("../images/14.svg");
}
.smallBox3 {
  width: 12.4vw;
  height: 12.5vw;
}
.image4Section4 {
  width: 12vw;
  height: 12.5vw;
  background-image: url("../images/15.svg");
}
.smallBox4 {
  width: 12vw;
  height: 12.5vw;
}
.box2Section4 {
  width: 100%;
  height: 32%;
  display: flex;
  flex-direction: row;
}
.smallBox5 {
  width: 12vw;
  height: 12.3vw;
}
.image5Section4 {
  width: 12.8vw;
  height: 12.3vw;
  background-image: url("../images/16.svg");
}
.smallBox6 {
  width: 12.6vw;
  height: 12.3vw;
}
.image6Section4 {
  width: 12.8vw;
  height: 12.3vw;
  background-image: url("../images/17.svg");
}
.smallBox7 {
  width: 12.6vw;
  height: 12.3vw;
}
.image7Section4 {
  width: 12.4vw;
  height: 12.3vw;
  background-image: url("../images/18.svg");
}
.smallBox8 {
  width: 12vw;
  height: 12.3vw;
}
.image8Section4 {
  width: 12vw;
  height: 12.3vw;
  background-image: url("../images/19.svg");
}
.box3Section4 {
  width: 100%;
  height: 32.6%;
  flex-direction: row;
}
.smallBoxLine1 {
  width: 12vw;
  height: 12.3vw;
}
.smallBoxLine2 {
  width: 12.8vw;
  height: 12.3vw;
}
.smallBoxLine3 {
  width: 12.6vw;
  height: 12.3vw;
}
.smallBoxLine4 {
  width: 12.8vw;
  height: 12.3vw;
}
.smallBoxSVGLine5 {
  width: 12.6vw;
  height: 12.3vw;
  background-image: url("../images/17.svg");
}
.smallBoxLine6 {
  width: 12.4vw;
  height: 12.3vw;
}
.smallBoxLine7 {
  width: 12vw;
  height: 12.3vw;
}
.smallBoxLine8 {
  width: 12vw;
  height: 12.3vw;
}
/* s5 */
.section5 {
  width: 100vw;
  height: 50vw;
  background-color: #0000ff;
  opacity: 60%;
  margin-top: 37vw;
  position: relative;
  z-index: -9;
}
.imgSection5 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #e6e6e6;
}
.img1Section5 {
  position: absolute;
  width: 10vw;
  height: 50vw;
}
